
*{
    font-family: 'Roboto Slab', serif;
    margin:0;
    padding:0;

}

/*///////////////////FIRST PAGE/////////////////////////////////////////////////////*/
#first-welcome{
    margin:auto;
}
#container{
    text-align: center;
    position: relative;
    top:140px;
    
}
nav{
    position:fixed;
    background-color:#63C323;
    display:flex;
    justify-content:flex-start;
    z-index:999999999;
    width:100%;
    height:80px;
}
.omedia{
    float:left;
    font-size:29px;
    margin-left:25px;
    margin-top: 18px;
    color: white;
    
}
.welcome{
    margin-top:10px;
}
.first-page-buttons{
    width:10%;
    margin:30px auto 0px 30px;
    position: relative;
    right:25px;
    padding:5px;
    background-color: #63C323;
    border-radius: 5px;
    border:1px;
    outline: none;
}
.first-page-buttons:hover{
    background-color:#7FE10D;
    
}
.first-page-buttons a {
    text-decoration: none;
    color:white;
    font-size:15px;

}
/*///////////////////////////Registration page ///////////////////////////////*/
nav a {
    text-decoration: none;
    
}
form{
    position:relative;
    top:60px;
    z-index:1000;
}
form input{
    display:block;
    margin: 10px auto 10px auto;
    padding:5px;
}
form input:focus{
    outline: none;
    border:1px solid #7FE10D;
}
form label {
    display: block;
    position:relative;
    text-align: left;
}
#info{
    float:left;
    position: relative;
    left:370px;
}
#info1{
    float:left;
    position: relative;
    left:550px;
}
#button{
    position: relative;
    top:230px;
    left:210px;
    color:white;
    padding:5px;
    font-size: 15px;
    cursor: pointer;
}
#registration {
    margin-bottom:10px;
    font-size: 50px;
}
#enter{
    font-size: 20px;
}

/*/////////log in page///////////////////////////////////////////////////*/
#log-in{
    font-size: 50px;
}
#login-button{
    color:white;
    position: relative;
    top:50px; 
    cursor:pointer; 
}
#log{
    position:absolute;
    display: none;
}
#login-form div  label{
    position: relative;
    padding:0px;
    left:550px;  
    
}
#login-attention{
    position: relative;
    text-align: left;
    left:550px;
    color:red;
}
/*///////////Profile Page///////////////////////////////////////////////*/

#profile-page{
    font-size:40px;
}
#personal-information,#dashboard{
    float:left;
    position:relative;
    margin:20px;
    padding:30px;
    top:20px;
}
#dashboard{
    left:400px;
}
#personal-information p {
    padding:10px;
    font-weight: bold;
    text-align: left;
}
#pages{
    font-size:20px;
    position: relative;
    left:510px;
    top:35px;
    height:100%;
    
}
#pages a{

    color:white;
    padding:10px;
    
}
#pages a:hover{
    color:black;
}
.add-info{
    color:#E59500;
}
#checkbox {
    margin-left:20px;
   width:17px;
   height:17px;
}
#edit-button {
    background-color:#595959;
    color:white;
   outline:none;
    width:15%;
    cursor: pointer;
    display:inline-block;
}
#edit-button:hover{
    background-color:#C98986;
}
#dashboard h2{
    position: relative;
    z-index:-1;
}
#profile-edit{
    margin-top:10px;
    
}
#profile-edit button {
    padding:2px;
    width:20%;
    cursor: pointer;
    color:white;
    outline:none;
    display:none;
}
#profile-edit-cancel{
    background-color:#9BC53D;
    outline:none;
   border:1px;
}
#profile-edit-cancel:hover{
    background-color:#69950A;
}
#profile-edit-save{
    background-color:#99B2DD;
    outline:none;
   border:1px;
    
}
#profile-edit-save:hover{
    background-color:#5F8BD8;
}
.edit{
    border: 1px solid #7FE10D;
    padding:5px;
    caret-color: #191516;
}
/*////////meals///////////////////////*/
#fields-container{
    width:50%;
}
#fields-container label{
    margin-top:30px;
    margin-left:220px ;
    
}


#add-info {
    width:15%;
    position: relative;
    padding:5px;
    background-color: #63C323;
    border-radius: 5px;
    border:1px;
    outline: none;
    color:white;
    cursor: pointer;
    margin-top: 20px;
}
.info-fields {
    width:30%;
    cursor:text;
}
#add-info:hover{
    background-color:#7FE10D;
    
}
.h2{
    position: relative;
    top:50px;
     
}

#result-container h2{
    margin-right:60px;
    
}
#result-container{
    position: relative;
    left:320px;
    top:-230px;
}
#result-container table{
    position: relative;
    left:480px;
}
th, td{
    border:1px solid black;
    width:50%;
    font-size:20px;
    font-weight:bold;
    padding:5px;
}
 table{
    border-collapse: collapse;
    width:20%;
    position: relative;
    left:150px;
    margin-top:40px;
    
    
}
th{
    background-color: #63C323;
    color:white;
}
th:hover{
    background-color: #7FE10D;
    cursor:pointer;
}

#green-data{
    color: green;
}
#red-data{
    color:red;
}
.button-toolbar{
    position: relative;
    left:170px;
    top:80px;
    padding:5px;
    display:none;
    width:5%;
    cursor: pointer;
}
#save-button{
    
    background-color: #99B2DD;
    border: none;
    outline: none;
    color:white;
}
#save-button:hover{
    background-color:#5F8BD8;
}

#cancel-button{
    background-color: #9BC53D;
    border: none;
    outline: none;
    color:white;
    
}
#cancel-button:hover{
    background-color:#69950A;
}


/*///////////meal////////////////////////////*/

/*///////////////////////Acivity page//////////////////////////////////////////////*/
#activity-type{
    padding:5px;
    width:33%;
    margin-top:10px;
    cursor: default;
}
#activity-type:focus{
    border-color: #7FE10D;
    outline: none;
}

#table-filter{
    position: relative;
    top:-45px;
    right:62px;
    padding:5px;
    width:14.5%;
    margin-top:10px;
    cursor: default;
    display:inline-block;
    z-index:2;
}
#table-filter:focus{
    border-color: #7FE10D;
    outline: none;
    
}
#filter-buttons{
    position: relative;
    top:-52px;
    right:385px;
    z-index:1;
}
.filter-toolbar{
    padding:2px;
    color:white;
    outline:none;
    width:5%;
    height:5%;
    outline:none;
    cursor: pointer;
}
#filter-button{
    background-color:#E5B25D;
    border:1px solid #30323D;
  
}
#filter-button:hover{
    background-color: #E1A030;
}

#filter-cancel-button{
    background-color: #5A3A31;
    border:1px solid #5B6C5D;
}
#filter-cancel-button:hover{
    background-color: #3F180D;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}